header.site-header
  a.site-header__site-title(href="/") Nate Green
  nav.site-header__nav
    ul
      li
        a(href="/") Home
      li
        a(href="/blog") Blog
      li
        a(href="/projects") Projects
      li
        a(href="/about") About
      li
        a(href="/Nate-Green-Resume.pdf") Résumé